@import 'https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css';

body {
	max-width: 1024px;
	margin: auto;

	padding: 2em 1em;
}
input,
label {
	display: inline;
}
.layouts {
	margin-bottom: 2rem;
}
@media (min-width: 40rem) {
	.results {
		text-align: right;
	}
}
input[type='number'] {
	width: 10rem;
	margin-right: 2rem;
}
footer {
	color: #999;
}
p {
	margin-bottom: 0.5em;
}

.Template {
	padding: 1em;
	cursor: pointer;
}

.Template.active {
	font-weight: bold;
	outline: 1px solid lightgrey;
}

.Template:hover {
	background: lightgrey;
}
