@import 'https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css';

body {
	max-width: 1024px;
	margin: auto;

	padding: 2em 1em;
}
input,
label {
	display: inline;
}
input[type='number'] {
	display: block;
	width: 100%;
}
footer {
	color: #999;
}
p {
	margin-bottom: 0.5em;
}
